#content div .item_list {
    padding: 0px;
    background-color: unset;
    margin: 10px;
    display: block;
    flex-direction: unset;
    align-items: unset;
    justify-content: unset;
}
#content div .item_list div {
    padding: 0px;
    background-color: unset;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}
#content div .item_list div div {
    margin: 0px;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    flex-direction: unset;
    align-items: unset;
    justify-content: unset;
    font-size: large;
}